# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*test_directory/*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*env*

*swp*
utils/test_directory/*
utils/test_directory/subdir1/file2.scss
utils/test_directory/file1.scss
