body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 80px;
    
    p{
        margin: 0px;
        display: flex;
        overflow: hidden;
        font-size: 5vw;
        padding-right: 2vw;
        padding-top: 10px;
        font-weight: 300;
        color: $white;
    }
    .cursor {
        transition: 500ms ease-in-out opacity;
        display: none;
        scale: 0;
    }


    &:hover {
        .cursor  {
            scale: 1;
            transition: 500ms ease-in-out opacity;
            display: block;
        }
    }
}