body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 80px;
    
    p{
        margin: 0px;
        display: flex;
        overflow: hidden;
        font-size: 5vw;
        padding-right: 2vw;
        padding-top: 10px;
        font-weight: 300;
        color: $white;
    }
}

*{
    cursor: none;
}