// Define the variables
$dot-bg: $black;
$dot-color: grey;
$dot-size: 1px;
$dot-space: 22px;

body {
  background:
    linear-gradient(90deg, $dot-bg calc($dot-space - $dot-size), transparent 1%) center / $dot-space $dot-space,
    linear-gradient($dot-bg calc($dot-space - $dot-size), transparent 1%) center / $dot-space $dot-space,
    $dot-color;
    position: relative;
    min-height: 100vh;
    &::after {  
        content: '';
        width: 100vw;
        height: 100%;
        background: linear-gradient(17deg, rgba(17,17,17,1) 0%, rgba(255,255,255,0) 100%);
        left: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
    }
    // p{
    //     margin: 0px;
    //     display: flex;
    //     overflow: hidden;
    //     font-size: 5vw;
    //     padding-right: 2vw;
    //     padding-top: 10px;
    //     font-weight: 300;
    //     color: $white;
    // }
    .cursor {
        transition: 500ms ease-in-out opacity;
        display: none;
        scale: 0;
    }


    &:hover {
        .cursor  {
            scale: 1;
            transition: 500ms ease-in-out opacity;
            display: block;
        }
    }
}