body {
    overflow-x: hidden;
}

body:not(.table) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 $spacing-xl;
    }
}

#about {
    @extend .container;
    max-width: 45rem !important;

    a {
        &:hover,
        &:visited,
        &:focus {
            color: darken($white, 5%);
        }
    }
}

.table {
    .container {
        all: unset;
    }
}

.z-max {
    z-index: 9999;
}

.logo {
    transform: translateX(20px);
}

.vertical-timeline-element-content-arrow {
    display: none !important;
}


.is-open {
    z-index: 99999999;
    padding: 50px 70px;
    left: 0;
    background-color: #1a1a1a;
}

.theme-transitioning * {
    transition-duration: 300ms;
    transition-property: background, color;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.94, 1);
    transition-delay: background 333ms;
}

[vaul-drawer] {
    z-index: 999;
}

// magic
.toggle {
    --size: 2rem;
    appearance: none;
    outline: none;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: $black;

    transition: all 500ms;

    &:checked {
        --ray-size: calc(var(--size) * -0.4);
        --offset-orthogonal: calc(var(--size) * 0.65);
        --offset-diagonal: calc(var(--size) * 0.45);

        transform: scale(0.75);
        color: #fff;
        box-shadow: inset 0 0 0 var(--size),
            calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
            var(--offset-orthogonal) 0 0 var(--ray-size),
            0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
            0 var(--offset-orthogonal) 0 var(--ray-size),
            calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1)
                0 var(--ray-size),
            var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
            calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0
                var(--ray-size),
            var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0
                var(--ray-size);
    }
}

// .toggle {
//     z-index: 1;
//     &:checked {
//         & ~ .background {
//             --bg: $white;
//         }
//         & ~ .title {
//             --color: $black;
//         }
//     }
// }

ul.group.flex.flex-1.list-none.items-center.justify-center.space-x-1 {
    button {
        background-color: transparent;
    }
}

html:not(.dark) {
    .toggle {
        color: $black;
        scale: 0.75;
        transform: translate(2px, 4px);
    }
}
.dark {
    .toggle {
        color: $white;
    }
}

    .mobile-flexer {
        display: flex;
        gap: 4;
    }

