.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $spacing-xl;
}

.logo {
    transform: translateX(20px);
}

div,
input,
.border-btn {
    border-color: darken($color: $white, $amount: 80) !important;
}

.is-open {
    z-index: 99999999;
    padding: 50px 70px;
}