@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.libre-italic {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.dark {
    h1,
    p,
    span,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }
}

html:not(.dark) {
    h1,
    p,
    span,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $black;
    }
}

.rope {
    font-family: 'Manrope';
}
