#trailer {
  background-color: white;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  mix-blend-mode: difference;
  pointer-events: none;
  display: grid;
  place-items: center;
}

.cursor-hover {
  cursor: none;
  transition-delay: 200ms;
  &:hover {
    cursor: none;
  }
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;
  transition: opacity 400ms ease;
  opacity: 0;
  transition: opacity 400ms ease;
}

.interactable {
  aspect-ratio: 1;
  width: clamp(120px, 40vmin, 600px);
  background-position: center 50%;
  background-size: 100%;
  opacity: 0.4;
  transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
  background-size: 105%;
  opacity: 0.8;
}
