.btn--menu {
  margin: auto;
  width: 2em;
  display: inline-block;
  transition: all, 1s;
  padding: 0.675em 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  transform: translate(-35px, 24px)
}
.btn--menu span {
  display: block;
  position: relative;
  height: 2px;
  width: 2em;
  background-color: #fff;
}
.btn--menu span::before, .btn--menu span::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 2em;
  height: 2px;
  position: absolute;
  bottom: 0;
  transform-origin: 50% 50%;
  transition: all, 0.2s;
}
.btn--menu span::before {
  transform: translateY(-0.5em);
}
.btn--menu span::after {
  transform: translateY(0.5em);
}
.btn--menu:hover:not(.actived) span::before {
  transform: translateY(-0.625em);
}
.btn--menu:hover:not(.actived) span::after {
  transform: translateY(0.625em);
}
.btn--menu.actived {
  overflow: visible;
}
.btn--menu.actived span {
  background-color: transparent;
}
.btn--menu.actived span::before {
  -webkit-animation: top-bar 1s;
  animation: top-bar 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.btn--menu.actived span::after {
  -webkit-animation: bottom-bar 1s;
  animation: bottom-bar 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes top-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}
@keyframes top-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}
@-webkit-keyframes bottom-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}
@keyframes bottom-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}