.dark {
    .bg-header {
        background-color: rgba($color: $black, $alpha: 0.3);
    }
}

.header {
    width: -webkit-fill-available;
    z-index: -1;
    
    animation: slideHeaderIn 1s ease-in-out forwards;
}

@keyframes slideHeaderIn {
    from {
        transform: translate(0, -100%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

body:not(.dark) {
    .header {
        border: 1px solid $black-text;
    }
}

.style_header__sfW8a {
    span {
        font-size: 60px !important;
    }
}