.turborepoCardBg {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.03),0 2px 4px rgba(0,0,0,.05),0 12px 24px rgba(0,0,0,.05)
}

.dark .turborepoCardBg {
    background: #000;
    border: 1px solid hsla(0,0%,100%,.1);
    box-shadow: 0 20px 48px rgba(0,0,0,.2)
}

.turbopackCardBg {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.03),0 2px 4px rgba(0,0,0,.05),0 12px 24px rgba(0,0,0,.05)
}

.dark .turbopackCardBg {
    background: rgba(0,0,0,.8);
    background: #000;
    border: 1px solid hsla(0,0%,100%,.1);
    box-shadow: 0 20px 48px rgba(0,0,0,.2)
}

.list,.list:focus,.list:focus-visible {
    outline: none!important;
    box-shadow: none!important
}
