.toast.temp {
    opacity: 1;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.toast.temp.hide {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.toast {display: flex;
    gap: 12px;
    background-color: #000;
    display: inline-flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #323233;
    padding: 12px 16px;
    border-radius: 150px;
    text-emphasis: center;
    transition: 250ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    font-size: 12px;
    z-index: 10;
    bottom: 24px;
    left: 24px;
    opacity: 1;
    padding-right: 16px;
    background-color: black;


    &--warning {
        animation: toastWarning 10s 2s infinite ;
        @keyframes toastWarning {
            0% {
                box-shadow: 0 0 121px 1px #360303;
            }

            50% {
                box-shadow: 0 0 22px 1px #210105;
            }

            100% {
                box-shadow: 0 0 52px 1px #260102;
            }

        }
    }

    &--success {
        animation: ToastShadow 10s 2s infinite;

        @keyframes ToastShadow {
            0% {
                box-shadow: 0 0 121px 1px #012208;
            }

            50% {
                box-shadow: 0 0 22px 1px #012108;
            }

            100% {
                box-shadow: 0 0 52px 1px #012609;
            }

        }
    }

    @keyframes animateGlow {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 200% 50%;
        }
    }


    &--warning {
        border-color: #f5a623;
        transition: 500ms ease all;
    }

    &.temp {
        bottom: 24px !important;
        left: 24px !important;
        bottom: unset;
        left: unset;
        z-index: 2112312312;
        animation: unset;
    }


    &:hover {
        scale: 1.01;
        background-color: lighten(#000, 10%);
    }

    &__close {
        cursor: pointer;
        color: #6885ee;


        &:hover {
            transform: rotate(5deg);
            scale:
                1.1;
        }

    }

    &.toast-hide {
        animation: hidetoast 5s cubic-bezier(0.215, 0.81, 0.355, 1) 0s forwards;
    }


    @keyframes hidetoast {
        0% {
            opacity: 1;
        }

        30% {

            opacity: 0;
            transform: translateY(-100%);
        }


        99% {

            opacity: 0;
            transform: translateY(-100%);
        }

        100% {
            opacity: 1;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-left: 16px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 2px;
        color: white;
    }

    &__alternate-title {
        color: #9a9a9a !important;
    }
}