// body {
    // background-color: black;
//     height: 100vh;
//     margin: 0rem;
//     overflow: hidden; 
//   }
  
  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    background-color: $white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    position: fixed;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(102, 38, 109, 0.803), rgb(186, 59, 218));
    animation: rotate 20s infinite;
    opacity: 0.2;
    z-index: -2;
    transition: 500ms ease all;
  }
  
  #blur {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(12vmax);
  }
  