$button-border: rgb(87, 83, 78);
$transparent-button: transparent;
$button-height: 42px;

.btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: $button-height;
    // padding: $spacing 64px;
    justify-content: center;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    border: 1px solid #363333;
    border-radius: 5000px;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    &__text {
        transform: translateY(20px);
    }

    .animated-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--rounded {
        border-radius: 9999px !important;
    }

    &--transparent {
        background-color: $transparent-button !important;
        border: 1px solid $button-border !important;
        background-color: rgba(0, 0, 0, 0);
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
            rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        border-color: rgb(87, 83, 78);
        opacity: 1;
    }
}

.animbutton {
    transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

    .arrow {
        padding-left: 0;
    }

    .text {
        padding: 16 24px;
    }

    .btn__hover-text {
        position: absolute;
        scale: 0;
    }

    &:hover {
        transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

        .text {
            position: relative;
            transform: translateX(40px);
        }

        .btn__hover-text {
            scale: 2;
        }

        .arrow {
            padding-left: $spacing;
        }
    }
}

$pdf-transition: 333ms;

.pdf {
    overflow: hidden;
    transition: $pdf-transition ease all;

    &:hover {
        .pdf__hover-icon {
            transition: $pdf-transition cubic-bezier(0.165, 0.84, 0.84, 1) all;
            transform: translateY(63px);
            transition-delay: $pdf-transition;
        }

        .pdf__hover-initial {
            transform: translateY(40px);
            transition: $pdf-transition cubic-bezier(0.165, 0.84, 0.84, 1) all;
        }
    }

    &__hover-initial {
        transform: translatteY(0);
    }

    &__hover-icon {
        position: absolute;
        right: 40px;
        top: -30px;
    }
}

.buttons {
    &--expand {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
        text-decoration: none;
        border-radius: 300px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
        height: 44px;
        width: 44px;
        position: relative;
        text-transform: uppercase;
        overflow: hidden;
        transition: all 0.35s;

        .before-content {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            width: 44px;
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            transition: left 0.35s;
        }

        &:hover {
            .before-content {
                left: -37px;
            }
        }

        &:hover {
            width: 159px;
            border: 1px solid #fff;
            color: #fff;

            span {
                left: 0;
            }

            &::before {
                left: -37px;
            }
        }

        span {
            position: absolute;
            display: inline-block;
            top: 0;
            left: 37px;
            width: 159px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            transition: left 0.25s;
        }
    }
}

// Variables

$black: #666;
$white: $white;
$gray: #999;

$text-arrow-space: 16px;
$shaft-width: 34px;
$shaft-thickness: 2px;
$arrow-head-width: 8px;
$arrow-head-thickness: $shaft-thickness;

.animbtn {
    height: 60px;
    display: flex;

    .btn__hover-text {
        opacity: 0;
        transform: translateX(-250px);
        transition-delay: 1.3s;
        scale: 0;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: translatex(-150px);
    }

    .text {
        opacity: 1;
        transition-delay: 1.3s;
        transition: all 0.5s;
        transform: translatex(0);
        scale: 1;
        transition-delay: 200ms;
    }

    &:hover {
        &:hover {
            color: $white;

            > .the-arrow.-left {
                transform: translateY(-44px), translateX(-12px);
                > .shaft {
                    width: $shaft-width;
                    transition-delay: 0.1s;
                    background-color: $white;

                    &:before,
                    &:after {
                        width: $arrow-head-width;
                        transition-delay: 0.1s;
                        background-color: $white;
                    }

                    &:before {
                        transform: rotate(40deg);
                    }

                    &:after {
                        transform: rotate(-40deg);
                    }
                }
            }
        }

        > .main {
            transform: translateX($shaft-width + $text-arrow-space);

            > .the-arrow.-right {
                > .shaft {
                    width: 0;
                    transform: translateX(200%);
                    transition-delay: 0;

                    &:before,
                    &:after {
                        width: 0;
                        transition-delay: 0;
                        transition: all 0.1s;
                    }

                    &:before {
                        transform: rotate(0);
                    }

                    &:after {
                        transform: rotate(0);
                    }
                }
            }
        }

        .btn__hover-text {
            opacity: 1;
            transition-delay: 1.3s;
            transition: all 0.5s;
            transform: translatex(0);
            scale: 1;
            transition-delay: 200ms;
        }

        .text {
            opacity: 0;
            transition-delay: 1.3s;
            transition: all 0.5s;
            transform: translatex(111px);
            scale: 0;
        }
    }

    ul {
        li {
            margin: 0 0 24px;
        }
    }

    // The Arrow

    .the-arrow {
        width: $shaft-width;
        transition: all 0.2s;

        &.-left {
            position: absolute;
            top: 55%;
            left: -60px;

            > .shaft {
                width: 0;
                background-color: $gray;

                &:before,
                &:after {
                    width: 0;
                    background-color: $gray;
                }

                &:before {
                    transform: rotate(0);
                }

                &:after {
                    transform: rotate(0);
                }
            }
        }

        &.-right {
            top: 3px;
            right: -25px;

            > .shaft {
                width: $shaft-width;
                transition-delay: 0.2s;

                &:before,
                &:after {
                    width: $arrow-head-width;
                    transition-delay: 0.3s;
                    transition: all 0.5s;
                }

                &:before {
                    transform: rotate(40deg);
                }

                &:after {
                    transform: rotate(-40deg);
                }
            }
        }

        > .shaft {
            background-color: $gray;
            display: block;
            height: $shaft-thickness;
            position: relative;
            transition: all 0.2s;
            transition-delay: 0;
            will-change: transform;

            &:before,
            &:after {
                background-color: $gray;
                content: '';
                display: block;
                height: $arrow-head-thickness;
                position: absolute;
                top: 0;
                right: 0;
                transition: all 0.2s;
                transition-delay: 0;
            }

            &:before {
                transform-origin: top right;
            }

            &:after {
                transform-origin: bottom right;
            }
        }
    }

    // Animated Arrow Button

    .animated-arrow {
        display: inline-block;
        text-decoration: none;
        position: relative;
        transition: all 0.2s;

        &:hover {
            .btn__hover-text {
                transform:unset;
            }
        }

        > .main {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s;

            .btn__hover-text {
                position: absolute;
            }

            > .text {
                // margin: 0 $text-arrow-space 0 0;
                padding: 12px 48px;
                text-align: center;
            }

            > .the-arrow {
                transform: translateY(-2px);
                position: relative;
            }
        }
    }
}
