// body {
    // background-color: black;
//     height: 100vh;
//     margin: 0rem;
//     overflow: hidden; 
//   }
  
  @keyframes ball {
    from {
      rotate:   -5deg;
    }
    
    50% { 
      rotate:  5deg;
      scale:  1.5;
    }
     
    
    to {
      rotate: -5deg;
    }
  }


  .ball {
  background-color: $white;

     width: 40vw;
     height: 40vh;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    position: fixed;
    translate: -50% -50%;
    transition:      20s ease-in-out all;
    border-radius: 50%;
    animation: ball  20s infinite;

    filter: blur(200px);
  opacity: 0.15 ;
    z-index: -2;
    transition: 500ms ease all;
  }
  

  