.nav{
   overflow: hidden;

   .wrapper{
        display: flex;
        gap: 50px;
        margin-bottom: 80px;
        z-index: 9999;
        padding: 40px; 
         background-color: #111;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1000px) {
    .nav{
        .wrapper{
            margin-bottom: 0px;
            justify-content: space-between;
        }
    }
}
