.current-balance {
    background-color: #ffc248;
    border-radius: 24px;
    box-shadow: 0px 3px 75px #0000001a;
    height: 188px;
    left: 4px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 424px;
  }
  
.wallet {
    align-items: center;
    display: inline-flex;
    gap: 24px;
    justify-content: center;
    left: 40px;
    position: absolute;
    top: 75px;
  }
  
  .wallet-2 {
    height: 72.66px;
    margin-bottom: -0.75px;
    margin-left: -0.75px;
    margin-top: -0.75px;
    position: relative;
    width: 79px;
  }
  
  .wallet-expense {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .text-wrapper-2 {
    color: #130f26;
    font-family: "Roboto", Helvetica;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .text-wrapper-3 {
    color: #130f26;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .current-balance-2 {
    color: #130f26;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 40px;
    letter-spacing: 2px;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
  }
  
  .decoration {
    height: 219px;
    left: 321px;
    position: absolute;
    top: -19px;
    width: 139px;
  }
  
  .overlap-group-4 {
    height: 188px;
    left: 6px;
    position: relative;
    top: 19px;
    width: 98px;
  }
  
  .vector-3 {
    height: 188px;
    left: 36px;
    position: absolute;
    top: 0;
    width: 62px;
  }
  
  .vector-4 {
    height: 188px;
    left: 0;
    position: absolute;
    top: 0;
    width: 98px;
  }
  
  .text-wrapper-4 {
    color: #ffc248;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 64px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    transform: rotate(-24.85deg);
    white-space: nowrap;
  }
  
  .text-wrapper-5 {
    color: #eb001b;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 73px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65px;
    transform: rotate(37.72deg);
    white-space: nowrap;
  }
  
  .text-wrapper-6 {
    color: #ffc248;
    filter: blur(1px);
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 84px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 110px;
    transform: rotate(37.72deg);
    white-space: nowrap;
  }
  
  .text-wrapper-7 {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 152px;
    transform: rotate(37.72deg);
    white-space: nowrap;
  }
  
  .dabit-card {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    left: 5px;
    position: absolute;
    top: 236px;
  }
  
  .title-4 {
    height: 23px;
    margin-right: -3px;
    position: relative;
    width: 425px;
  }
  
  .text-wrapper-8 {
    color: #eb001b;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 2px;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .text-wrapper-9 {
    color: #452e02;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 354px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 4px;
    white-space: nowrap;
  }
  