.bg-green-alt {
    background-color: $green-alt;
}

.ui-block {
    background-color: $container-background;
    border: 1px solid $container-border;
    color: $white;

    &--section {
        padding: 24px;
    }

    &--no-border {
        border: none;
    }

    &--border-left {
        border-left: 1px solid $container-border;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
    }

    &--border-right {
        border-right: 1px solid $container-border;
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
    }

    &--border-top {
        border-top: 1px solid $container-border;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    &--border-bottom {
        border-bottom: 1px solid $container-border;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

    &--border-top-left {
        border-top: 1px solid $container-border;
        border-left: 1px solid $container-border;
        border-right: 0;
        border-bottom: 0;
    }

    &--border-top-right {
        border-top: 1px solid $container-border;
        border-left: 0;
        border-right: 1px solid $container-border;
        border-bottom: 0;
    }

    &--border-bottom-left {
        border-bottom: 1px solid $container-border;
        border-left: 1px solid $container-border;
        border-right: 0;
        border-top: 0;
    }


    &--border-bottom-right {
        border-bottom: 1px solid $container-border;
        border-left: 0;
        border-right: 1px solid $container-border;
        border-top: 0;
    }

    &--border-top-bottom {
        border-top: 1px solid $container-border;
        border-bottom: 1px solid $container-border;
        border-left: 0;
        border-right: 0;
    }

    &--border-left-right {
        border-left: 1px solid $container-border;
        border-right: 1px solid $container-border;
        border-top: 0;
        border-bottom: 0;
    }
}

.black-block {
    background-color: #101010;
    border: 1px solid #363333;
    color: #f1f1ef;

    &--section {
        padding: 24px;
    }

    &--no-border {
        border: none;
    }

    &--border-left {
        border-left: 1px solid #363333;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
    }
}

body {
    background-color: $black;

    &::before {
        all: unset !important;
    }
}

.dash-container {
    @extend .ui-block;
    @extend .ui-block--section;
    display: flex;
    max-width: 14$spacing-aside;
    margin: 0 auto;

    aside {
        height: 100vh;
        padding: $spacing-aside;

        .logo-section {
            padding-bottom: 80px;
        }

        &.left {
            width: 30%;
        }

        &.right {
            width: 15%;
        }
    }

    main {
        flex: 1;
    }
}

.icon-svg {
    opacity: 0;
    animation: TopLeftFadeIn 500ms ease-in-out forwards;
    transform: translateX(-40px);

    @keyframes TopLeftFadeIn {
        0% {
            opacity: 0;
            transform: translate(-40px, - 40px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }


    @keyframes LeftFadeIn {
        0% {
            opacity: 0;
            transform: translateX(-40px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.logo-section {
    opacity: 0;
    animation: fadeIn 500ms 50ms ease-in-out forwards;
    width: 0;

    @keyframes fadeIn {
        0% {
            width: 0;
            opacity: 0;
        }

        100% {
            width: 100%;
            opacity: 1;
        }
    }
}

.search {
    animation: TopLeftFadeIn 1s 1s ease-in-out forwards;
    transform: translate(-40px);
    opacity: 0;
}


aside {
    .alt-children {
        transform: translateY(-2px);
    }

    ul {
        &:first-child {
            display: block;
        }
    }

    .sub {

        li,
        .title {
            transform: translateX(-100px);
            animation-name: footerIn;
            opacity: 0;
            animation-duration: 900ms;
            animation-timing-function: $fadeInEase;
            animation-fill-mode: forwards;
        }

        &.grandparent {
            li {
                animation-delay: 0ms;

                &:nth-child(2) {
                    animation-delay: 50ms;
                }

                &:nth-child(3) {
                    animation-delay: 100ms;
                }

                &:nth-child(4) {
                    animation-delay: 200ms;
                }
            }
        }

        .parent,
        .title {
            li {

                &:nth-child(2) {
                    animation-delay: 300ms;
                }

                &:nth-child(3) {
                    animation-delay: 400ms;
                }

                &:nth-child(4) {
                    animation-delay: 500ms;
                }

            }
        }
    }

    .child {

        .title,
        li {
            animation-delay: 600ms;
        }

        li {
            &:nth-child(2) {
                animation-delay: 700ms
            }

            :nth-child(3) {
                animation-delay: 800ms
            }

            &:nth-child(4) {
                animation-delay: 900ms
            }


            &:last-child {
                animation-delay: 1000ms;
            }
        }
    }


    &.parent {
        li {}
    }

    &.child {
        li {}
    }


    .footer {
        background: #0D0D0D;
        border: 1px solid #262626;
        border-radius: 8px;
        padding: 24px;
        margin-bottom: 140px;
        opacity: 0;
        animation-delay: 250ms;
        animation: footerIn 1s 1200ms $fadeInEase forwards;

        .cta {
            background-color: #050D03;
            border: 1px solid $green;
            border-radius: 12px;
            width: 100%;
            padding: 6px 12px;
            color: $white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            transition: 222ms ease-in-out;

            &:hover {
                background-color: darken(#050D03, 10%);
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                gap: 12px;
                transform: translateY(10px);

                svg {
                    transform: translateY(2px) rotate(0);
                }
            }
        }

        p {
            font-size: 12px;
        }
    }

    .active {
        color: $green;
    }

    &.dashboard-left {
        padding: 24px;
        padding-top: 0;
        width: 13% !important;

         .logo-section {
            padding-bottom: 40px;
            border-bottom: 1px solid $green-border;
            margin-bottom: $spacing-aside;
        }

        .parent {
            &:not(.last-child) {
                padding-bottom: 20px;
            }
        }

        .sub {
            position: relative;

            li {
                list-style: none;

                span {
                    margin-right: 20px;
                }

                &:not(.last-child) {
                    padding-bottom: $spacing-aside / 2;
                }
            }
        }

        .sub-sub {
            padding-left: $spacing-aside + 20px;
            position: relative;
            margin-bottom: $spacing-aside / 2;

            &::before {
                content: '';
                height: 100%;
                width: 1px;
                background-color: #2F2F2F;
                position: absolute;
                left: 20px;
                top: 0;
            }

            .title {
                color: #939393;
                margin-bottom: 20px;
            }

            li {
                font-size: $white;
                padding-left: 60px;
                position: relative;
                margin: 0;
                padding-left: 40px;

                &:empty {
                    display: none;
                }

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 20%;
                    left: 0;
                    transform: translateY(-102%) translateX(70%) rotate(0deg);
                    width: 15px;
                    height: 15px;
                    background-image: url('data:image/svg+xml;utf8,<svg fill="%23fff" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g><g><path d="M73.143,0C32.812,0,0,32.812,0,73.143c0,40.331,32.812,73.143,73.143,73.143c40.331,0,73.143-32.812,73.143-73.143C146.286,32.812,113.474,0,73.143,0z"/></g></g><g><g><path d="M438.857,0c-40.331,0-73.143,32.812-73.143,73.143c0,40.331,32.812,73.143,73.143,73.143c40.331,0,73.143-32.812,73.143-73.143C512,32.812,479.188,0,438.857,0z"/></g></g><g><g><path d="M256,0c-40.331,0-73.143,32.812-73.143,73.143c0,40.331,32.812,73.143,73.143,73.143s73.143-32.812,73.143-73.143C329.143,32.812,296.331,0,256,0z"/></g></g><g><g><path d="M438.857,365.714c-40.331,0-73.143,32.812-73.143,73.143c0,40.331,32.812,73.143,73.143,73.143C479.188,512,512,479.188,512,438.857C512,398.526,479.188,365.714,438.857,365.714z"/></g></g><g><g><path d="M438.857,182.857c-40.331,0-73.143,32.812-73.143,73.143s32.812,73.143,73.143,73.143C479.188,329.143,512,296.331,512,256S479.188,182.857,438.857,182.857z"/></g></g><g><g><path d="M256,182.857c-40.331,0-73.143,32.812-73.143,73.143s32.812,73.143,73.143,73.143s73.143-32.812,73.143-73.143S296.331,182.857,256,182.857z"/></g></g></svg>');
                    background-repeat: no-repeat;
                    background-size: 15px;
                }

                &:nth-child(2) {
                    &::before {
                        transform: translateY(-18%) translateX(70%) rotate(-90deg);
                    }
                }

                &:nth-child(3) {
                    &::before {
                        transform: translateY(-18%) translateX(70%) rotate(90deg);
                    }
                }

                &:nth-child(4) {
                    &::before {
                        transform: translateY(-12%) translateX(35%) rotate(0deg);
                    }
                }

                &:nth-child(5) {
                    &::before {
                        transform: translateY(-18%) translateX(70%) rotate(180deg);
                    }
                }

                &:nth-child(5) {
                    &::before {
                        transform: translateY(-18%) translateX(70%) rotate(180deg);
                    }
                }
            }
        }
    }
}