$black: 141414;
$offwhite: #EFEFEF;
$white: $offwhite;
$grey: #6B6B6B;
$border: $grey;
$spacing: 8px;
$spacing-m :16px;
$spacing-l: 24px;
$spacing-xl: 32px;
$border-radius: 24px;
$border-radius-big: 32px;


.navigation {
    height: 5vh;
}

.pill {
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    border-color: $white;
    display: inline-block;
    background: $white;
    border: 1px solid $grey;
    padding: 2px $spacing;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background 150ms ease-in-out;

    &--light {
        color: $black;
        border-color: $white ;
        background-color: $white ;
    }
}

.title {
    font-size: 48px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding: $spacing-xl 0;
}

.paragraph {
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
}

.subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: start;
    position: relative;
    padding-left: $spacing-m;
    height: 5vh;
    align-items: center;
    color: $grey;
    overflow: hidden;
    max-width: 99%;


    &::after {

        content: '';
        width: 100%;
        margin-left: $spacing;
        height: 1px;
        background-color: $grey;
        // center vertically
        top: 50%;
        transform: translateY(-50%);
        left: 25%;


    }
}

.video {
    border-radius: $border-radius-big;
    min-width: auto;
    height: 89vh;
    max-width: 1600px;
    width: auto; // maintain aspect ratio


    // z-index: -1; // put it behind other content
    object-fit: cover; // cover the container just like background-size: cover would
}