@tailwind base;
@tailwind components;
@tailwind utilities;



.mag {

    @keyframes background-pan {
        from {
            background-position: 0% center;
        }

        to {
            background-position: -200% center;
        }
    }

    @keyframes scale {

        from,
        to {
            transform: scale(0);
        }

        50% {
            transform: scale(1);
        }
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(180deg);
        }
    }

    overflow: hidden;

    h1 {
        color: white;
        font-family: "Rubik", sans-serif;
        font-size: clamp(2em, 2vw, 4em);
        font-weight: 400;
        margin: 0px;
        padding: 20px;
        text-align: center;
    }

    h1>.magic {
        display: inline-block;
        position: relative;
    }

    h1>.magic>.magic-star {
        --size: clamp(20px, 1.5vw, 30px);

        animation: scale 700ms ease forwards;
        display: block;
        height: var(--size);
        left: var(--star-left);
        position: absolute;
        top: var(--star-top);
        width: var(--size);
    }

    h1>.magic>.magic-star>svg {
        animation: rotate 1000ms linear infinite;
        display: block;
        opacity: 0.7;
    }

    h1>.magic>.magic-star>svg>path {
        fill: var(--violet);
    }

    h1>.magic>.magic-text {
        animation: background-pan 3s linear infinite;
        background: linear-gradient(to right,
                var(--purple),
                var(--violet),
                var(--pink),
                var(--purple));
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }
}

// utils
@import 'utils/animations';

// //  variables
@import 'variables/variables';

// // // utilities
@import 'utils/mixins';
@import 'utils/animations';

// // // core
@import 'core/body';
@import 'core/theme';
@import 'core/page-layout';
@import 'core/typography';

// // // // components
@import 'components/hamburger-icon';
@import 'components/not-found';
@import 'components/page-loader';
@import 'components/cards.scss';
@import 'components/hovereffect.scss';
@import 'components/cursor';
@import 'components/blobcursor';
@import 'components/buttons.scss';
@import 'components/footer.scss';
// @import 'components/turbo.scss';
// @import 'components/glowcard.scss';

@layer base {
    :root {
        --black-accent: #282726;
        --purple: rgb(123, 31, 162);
        --violet: rgb(103, 58, 183);
        --pink: rgb(244, 143, 177);
        --black-text: ##e7e5e4;
        --offblack: #1e1e1e;
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: $black;
        --primary-foreground: $black;
        --test: red;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;
        --radius: 0.3rem;
        // utilities
        --debug: 0;
        --supported: 0;
        --not-supported: 0;

        // Pen vars
        --card-color: hsl(260deg 100% 3%);
        --text-color: hsl(260deg 10% 55%);
        --card-radius: 3.6vw;
        --card-width: 35vw;
        --border-width: 3px;
        --bg-size: 1;

        --hue: 0;
        --hue-speed: 1;

        --rotate: 0;
        --animation-speed: 4s;

        --interaction-speed: 0.55s;
        --glow-scale: 1.5;
        --scale-factor: 1;
        --glow-blur: 6; // 6
        --glow-opacity: 1; // 0.6
        --glow-radius: 100; // 100
        --glow-rotate-unit: 1deg;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    }
}

body {
    background-color: black;
}