@tailwind base;
@tailwind components;
@tailwind utilities;


// utils
@import 'utils/_animations';

//  variables
@import 'variables/variables';

// utilities
@import 'utils/_mixins';
@import 'utils/_animations';
@import 'utils/_utillity-classes';

// core
@import 'core/_body';
@import 'core/_theme';
@import 'core/_page-layout';
@import 'core/_typography';

// components
@import 'components/_hamburger-icon';
@import 'components/_not-found';
@import 'components/_page-loader';
@import 'components/_cards';
@import 'components/_hovereffect';
@import 'components/_cursor';
@import 'components/_blobcursor';
@import 'components/_buttons';
@import 'components/_footer';
@import 'components/_htmltojsx';
@import 'components/_toast';
// @import 'components/_turbo';
// @import 'components/_glowcard';
@import 'dashboard/dashboard.scss';
@import 'dashboard/_CurrentBalance';
@import 'dashboard/individual.scss';
@import 'module/sprinkle.module.scss';

@layer base {
    :root {
        --sprinklesize: 18px;
        --green: #8BB928;
        --darkgreen: #374a0c;
        --purple: rgb(123, 31, 162);
        --violet: rgb(103, 58, 183);
        --pink: rgb(244, 143, 177);
        --black-text: ##e7e5e4;
        --offblack: #101010;
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: $black;
        --primary-foreground: $black;
        --test: red;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;
        --radius: 0.3rem;
        // utilities
        --debug: 0;
        --supported: 0;
        --not-supported: 0;

        // Pen vars
        --card-color: hsl(260deg 100% 3%);
        --text-color: hsl(260deg 10% 55%);
        --card-radius: 3.6vw;
        --card-width: 35vw;
        --border-width: 3px;
        --bg-size: 1;

        --hue: 0;
        --hue-speed: 1;

        --rotate: 0;
        --animation-speed: 4s;

        --interaction-speed: 0.55s;
        --glow-scale: 1.5;
        --scale-factor: 1;
        --glow-blur: 6; // 6
        --glow-opacity: 1; // 0.6
        --glow-radius: 100; // 100
        --glow-rotate-unit: 1deg;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    }
}